@import '../../styles.scss';
@import '../../icon-font.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.section-features {
    font-family: 'Lato', sans-serif;
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8) 
    ),
    url(../../assets/img/nat-4.jpg);
    background-size: cover;
    position: relative;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }
}