<div class="component-header margin-bottom-medium">
    <p class="component-caption align-vertical">Customers</p>
    <a class="align-vertical" [routerLink]="['/customers/create/']"><button class="navigation-link navigation-link-medium">New Customer</button></a>
</div>
<div class="table-wrapper margin-bottom-small">
    <table class="margin-bottom-very-big">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Address</th>
                <th>Total Ordered Cost</th>
                <th>Orders Count</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.name}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.totalOrderedCost | currency:"UAH ":"symbol"}}</td>
                <td>{{customer.ordersCount}}</td>
            </tr>
        </tbody>
    </table>
</div>
