<div class="component-header margin-bottom-medium">
    <p class="component-caption align-vertical">New Product</p>
    <a class="align-vertical" [routerLink]="['/products/edit/',productModel.id]"><button class="navigation-link navigation-link-medium">Edit Product</button></a>
  </div>
  <form>
    <div class="controls-row">
      <div class="group-input">
        <label>Product Number: </label>
        <label>{{productModel.id}}</label>
      </div>
      <div class="group-input">
        <label>Created Date: </label>
        <label>{{productModel.createdDate | date: 'shortDate'}}</label>  
      </div>
    </div>
    <div class="group-input">
      <label>Name: </label>
      <label>{{productModel.name}}</label>
    </div>
    <div class="group-input">
      <label>Product Category:</label>
      <label>{{productModel.productCategory | productCategory}}</label>
    </div>
    <div class="group-input">
      <label>Avaliable Quantity:</label>
      <label>{{productModel.avaliableQuantity}}</label>
    </div>
    <div class="group-input">
      <label>Price:</label>
      <label>{{productModel.price}}</label>
    </div>
    <div class="group-textarea">
      <label>Description:</label>      
      <textarea disabled>{{productModel.description}}</textarea>
    </div>
  </form>
